.container {
    min-width: 1600px;
    min-height: 1200px;
    border-style: solid;
    border-width: 1px;
    border-color: #04AA6D;
    padding: 10px;
}

nav {
    position:absolute;
    bottom:0;
}

tr:hover {
    cursor: pointer;
    background-color: #04AA6D;
}

table {
    border-collapse: collapse;
}

#tile {
height: 150px;
width: 150px;
background:#04AA6D;
text-align: center;
float: left;
margin-right: 10px;
margin-bottom: 10px;
}
